<h1>Welcome to This Silly Demo Web App</h1>

<p>This app is only for demonstration purposes and doesn't do much of anything.</p>

<h2>Navigation</h2>

<ul>
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'Authors', authors_path %></li>
</ul>
